.container-fluid{
    background-color:rgb(212, 200, 200);
    height: 30%;
    padding-left: 5px;
    color: white;
   font-family:"Fugaz One";
   background-image: linear-gradient(to left,rgb(202, 50, 63),rgb(17, 1, 1));
}
.result{
    display: none;
    background-image: linear-gradient(to left,rgb(38, 174, 165),rgb(203, 46, 46));
}
#btn{
    height: 30px;
    text-align: center;
    border-radius: 5px;
    font-family:Arial, Helvetica, sans-serif;
    background-image: linear-gradient(to left,rgb(54, 227, 236),rgb(137, 33, 229)); 
}
#clearbtn{
    height: 30px;
    border-radius: 5px;
    background-image: linear-gradient(to left,rgb(34, 220, 99),rgb(91, 45, 227)); 

}
#searchtext{
    display: inline-block;
    border-radius: 20px;
    background-image: linear-gradient(to left,rgb(193, 237, 47),rgb(236, 235, 235)); 
}


.container{
    color:black;
    display: inline-block;
    height: 500px;
    width: 300px;
    
}
body{
    background-image: linear-gradient(to left,rgb(45, 223, 240),rgb(150, 90, 241));    
}
